<!-- Загружаем пакет static пакета приложения -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Динамическое подключение стилей из пакета satatic -->
        <link rel="stylesheet" type="text/css" 
        href="{% static 'bboard\style.css' %}">
        
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <title>
        <!-- Объявляем блок title. Описывается в шаблонах-потомках -->
        {% block title %}Главная{% endblock %} - Доска объявлений
        </title>
    </head>
    <body>
        <header>
            <h1>Объявления</h1>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Добавить</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">
            {{ rubric.name }}
            </a>
            {% endfor %}
        </nav>
        <section>
        <!-- Объявляем блок content. Описывается в шаблонах-потомках -->
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>